<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">Analyse de données</div>
            <a class="nav-link" href="/dashboard">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Tableau de bord
            </a>
            
            <div class="sb-sidenav-menu-heading">Machine learning</div>
            <a class="nav-link" href="/application">
                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                Application
            </a>

            <div class="sb-sidenav-menu-heading">Données</div>
            <a class="nav-link" href="/table_content">
                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                Tableau
            </a>
        </div>
    </div>
</nav>